# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=2cb079aace4278dbffe22c960a53ce7f97e4185699dc14e93ea3b0a4509ecdd8

# Auth Service URL
AUTH_SERVICE_URL=http://localhost:5000

# Social OAuth Providers
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

LINKEDIN_CLIENT_ID=77vtkpzfli3uiq
LINKEDIN_CLIENT_SECRET=WPL_AP1.PNAEdGVWvApbIjTo.XR2ZUw==

# WalletConnect Project ID
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=c3aee729c450f2f8ff65ee01979e3f30
# On-chain Contracts
NEXT_PUBLIC_DAO_ADDRESS=0xYourDaoAddressHere
NEXT_PUBLIC_TOKEN_ADDRESS=0xYourTokenAddressHere
NEXT_PUBLIC_ESCROW_ADDRESS=0xYourEscrowAddressHere

# Staking
NEXT_PUBLIC_STAKING_ADDRESS=0xYourStakingContractHere
NEXT_PUBLIC_STAKING_APR=8.5

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/skillfi

# Redis (for sessions)
REDIS_URL=redis://localhost:6379
